# QtCreator settings files:
*.user
*.pro.user.*


# MSVC Qt plugin temporary files:
.vs/
*.vcxproj
*.vcxproj.filters
*.sln
build/
debug/
release/


# Sample contact files:
*.vcf


# Debugging session:
ContactBookSanitizer*.cbsSession



# Debugging output files:
dbg/
